.trycatch-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff0a;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #22d3ee24;
  border-radius: 10px;
  max-width: 1440px;
  margin: auto;
}

.trycatch-prompt-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  margin: 0;
}

.trycatch-prompt-area {
  padding: 1rem;
  color: var(--paragraph-color);
  background-color: var(--background-color);
  cursor: text;
  resize: none;
  border: none;
  height: 55dvh;
  width: stretch;
  scrollbar-width: thin;
  scrollbar-color: var(--paragraph-color) transparent;
}

.trycatch-prompt-area:focus-visible {
  outline: none;
  cursor: text;
  color: #fff;
}

button {
  align-self: center;
}
