.trycatch-title {
  margin: 0.5rem;
  cursor: pointer;
}

.trycatch-navigation-content {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.trycatch-navigation-toggle {
  border: none;
  background: none;
}
