@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --background-color: #020617;
  --primary-color: #0793cf;
  --secondary-color: #eec0ff;
  --tertiary-color: #f684fc;
  --paragraph-color: #9aa4b6;
  color: var(--paragraph-color);
  background: #1a0e24;
  background: radial-gradient(
    circle,
    rgba(26, 14, 36, 1) 0%,
    rgba(2, 6, 23, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  animation: fadeIn 0.25s ease-in;
}

p,
li,
a,
pre,
code,
textarea {
  animation: fadeIn 0.35s ease-in;
}

p,
li,
button,
label {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

pre,
code {
  color: var(--tertiary-color);
  background-color: #64748b3b;
  white-space: break-spaces;
}

pre > code {
  background-color: transparent;
}

main {
  padding: 2rem 1rem;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

li {
  margin: 1rem 0;
}

a {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--tertiary-color);
  transition: 0.3s linear;
}

a:hover {
  color: var(--secondary-color);
}

.trycatch-about {
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
