.trycatch-accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-header {
  width: 100%;
  padding: 12px;
  text-align: left;
  background-color: transparent;
  color: var(--paragraph-color);
  border: none;
  cursor: pointer;
}

.accordion-body {
  padding: 12px;
}
